*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: column;
    height:115vh;
    margin-top: 50px;
    margin-left: 40px;
    background-color:#8D98AA;
   
}


.nftcontainer{
    width: 100%;
    height: 100%;
    background-image: url("images/majorbackground.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    border:2px solid black;
    color: #FFF;
    
 

}

.leftside{
    width:56%;
    height: 100%;
    padding-left: 60px;
    padding-top: 24px;
}

.rightside{
    width:46%;
    height: 100%;
    
}

.leftsidenav{
    display: flex;
    gap:23px; 
}

.artzie1{
    margin-right: 54px;
}

.market, .howitworks, .gallery, .about{
    color:#2E2F38;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 8px;
}

.artzie1{
    font-size: 36px;
    margin-top: -13px;
}
.art{
color: var(--Red, #FA504D);
font-family: 'Belgrano', serif;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.lefsidecontent{
    margin-top: 60px;
}

.contentgroup .firstheading{
    color: var(--Black, #2E2F38);
    font-family: 'Belgrano', serif;
    font-size: 53px;
    font-style: normal;
    font-weight: 400;
    line-height: 48px;
}
.contentgroup p{
color: var(--Gray, #8E8E8E);
font-family: Poppins;
font-size: 13.3px;
font-style: normal;
font-weight: 400;
line-height: 40px; 
}
.contentgroup2{
display: flex; 
gap: 10px;
margin-top: 14px;
}

button{
padding: 0 40px;
height: 30px;
background: var(--Red, #FA504D);
color: white;
}

.link{
color:#2E2F38;
font-family: serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration: underline;
padding-top: 7px;
}

.arrow{
    margin-bottom: 40px;
}

.images{
display:flex;
border: 1px solid var(--Gray, #8E8E8E);
box-shadow: 0px 24px 50px 0px rgba(0, 0, 0, 0.10);
margin-right: 40px;
}

.image1{
width: 270px;
height: 170px;
margin-right: -20px;



}

.image2{
    width: 270px;
    height: 170px;
    margin-left: -20px;
 
    
}

.leftsideframes{
    margin-top: -20px;
}

.firstheading{
    position: relative;
    font-size: 44px;
}

.vector{
    width: 170px;
    height: 60px;
    position: absolute;
    top: 0px;
    left:85px;
}

.rightsidenav{
    display:flex;
    padding-top: 24px;
    margin-left: 220px;
    color:white;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    gap: 20px;
}

.rightsidenav button {
 margin-top: -7px;
 font-size: 12px;


}

.border{
    width: 344px;
    height: 360px;
    margin-left: 60px;
}

.rightside{
    padding-right: 40px;
    }

.recta{
    width:320px;
    height: 120px;
    margin-left: 71px;
    margin-top: -50px;
    
    
}

.rightsideimageandshape{
    margin-top: 20px;
    
  
  
}

.rightsideextra{
    position:absolute;
    top: 400px;
    right: 300px;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    gap: 5px;
    
}
.rightsideextra2{
    position:absolute;
    top: 400px;
    right:95px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    line-height: 15px;
}
    



.icon{
    width: 30px;
    height: 30px;
}

.line{
    width: 295px;
    position: absolute;
    right: 95px;
    margin-top: -20px;
   
}

.rightsideextra{
    line-height: 15px;
}
.rightsideextra h4{
    color: var(--Gray, #8E8E8E);
}
.rightsideextra2 h4{
    color: var(--Gray, #8E8E8E);
}

.rightsideextra p, .rightsideextra2 p{
    font-weight: bold;
}


.headings{
 
}
.headings2{
    display: flex;
    margin-top: 10px;
}


.view{
margin-top: 10px;
font-size: 10px;
color: var(--Red, #FA504D);
}

.buttonpower{
padding-left: 90px;
}
.buttonandview{
    display: flex;
    margin-top: -40px;
    gap:80px;
   
}

.lastsets{
    margin-top: 30px;
    display: flex;
    padding-left: 72px;
    gap: 40px;
  
}

.fifty{
    color: var(--Red, #FA504D);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.thirty{
    color: var(--Red, #FA504D);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.twenty{
    color: var(--Red, #FA504D);
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.first{
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.second{
    color: var(--White, #FFF);

    font-family: Poppins;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.third{
    color: var(--White, #FFF);
 
    font-family: Poppins;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}